{% extends 'bootstrap/base.html' %}

{% block styles %}
    <link rel="stylesheet"
             href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css">
{% endblock %}

{% block navbar %}
{#  继承的导航栏  #}
{#    {{ nav.top.render() }}#}
{#  自定义的导航栏  #}
    {% include 'include/_navbar.html' %}
    <style type="text/css">

    </style>
{% endblock %}

{% block content %}
    {% block header %}
        <header>
            <div class="page-header">
                <div class="container">
                    <h1>{{ title }}</h1>
                </div>
            </div>
        </header>
    {% endblock %}
    {% block page_body %}
    {% endblock %}
{% endblock %}
{% block footer %}
    <footer>

    </footer>
{% endblock %}


