{#<!DOCTYPE html>#}
{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>Title</title>#}
{#</head>#}
{#<body>#}
{##}
{#</body>#}
{#</html>#}

{#{% extends 'base.html' %}#}
{#{% from 'bootstrap/pagination.html' import render_pagination %}#}
{#{% block title %}{{ title }}{% endblock %}#}
{#{% block content %}#}
{#<h2>ToDoList</h2>#}
{#    <form action="" , method="post">#}
{#            <input type="text", name="info" value="还需要什么事情需要做？">#}
{#            <input type="submit", value="Add">#}
{#    </form>#}
{#    <ol id="todolist" class="demo-box">#}
{#    </ol>#}
{##}
{#{% endblock %}#}


{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
    {{ super() }}

    <style type="text/css">
        .events{
            min-width:300px ;
            width: auto;
            max-width: 1000px;
            margin:0 auto;


        }
        .show_event{background-color: ghostwhite;
                min-width:300px;
                height: 100px;
                width: 1000px;
{#                list-style:none;#}
                margin:0 auto;
                word-wrap: break-word;
                }
        .button_event{

        }
    </style>


    <script type="text/javascript">
        function edit_event(){

        }

        function delete_event(){

        }
    </script>

{% endblock %}
{% block content %}

    <h2>ToDoList</h2>

    <div class="container">
        {% for message in get_flashed_messages()%}
            <div class="alert-info"> {{ message }} </div>
        {% endfor %}
        {{ wtf.quick_form(add_form) }}
    </div>

    </br>

    <form action="" method="post">

{#        <div class="add_event">#}
{#            <input type="text" name="add_event">#}
{#            <input type="submit">#}
{##}
{#        </div>#}

         <div class="events">
            <ul>
            {% for event in  events  %}
                <textarea class="show_event" rows="5">{{ event[1] }}</textarea>

                </br>
                <div class="button_event">
                    <input type="button" value="编辑">
                    <input type="button" value="删除">
                    <input type="checkbox">
                </div>
                </br>
            {% endfor %}
            </ul>
        </div>
    </form>


{% endblock %}




{#{% extends 'base.html' %}#}
{#{% import "bootstrap/wtf.html" as wtf %}#}
{##}
{#{% block scripts %}#}
{#    {{ super() }}#}
{#    {{ pagedown.include_pagedown() }}#}
{#{% endblock %}#}
{##}
{#{% block page_body %}#}
{#    <div class="container">#}
{#        <form method="POST">#}
{#            {{ form.hidden_tag() }}#}
{#            <div class="form-group">#}
{#                {{ form.title(class="form-control", placeholder=_("请输入文章标题")  ) }}#}
{#            </div>#}
{#            <div class="form-group">#}
{#                {{ form.body(only_input=True,rows=10,class="form-control") }}#}
{#            </div>#}
{#            <div>#}
{#                {{ form.body(only_preview=True) }}#}
{#            </div>#}
{#            <div class="form-group">#}
{#                {{ form.submit(class="btn btn-primary") }}#}
{#            </div>#}
{##}
{#        </form>#}
{#    </div>#}
{#{% endblock %}#}
{##}
{##}
