<nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button aria-controls="navbar"
                    aria-expanded="false"
                    class="navbar-toggle collapsed"
                    data-target="#7bc75dbef69e41ff2452de70079c8ece1320ea7c"
                    data-toggle="collapse" type="button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand">H博客</span>
        </div>
        <div class="navbar-collapse collapse"
             id="7bc75dbef69e41ff2452de70079c8ece1320ea7c">
            <ul class="nav navbar-nav">
                <li class="active">
{#                <li {% if url_for('main.home') is current_link %}class="active"{% endif %}>#}
                    <a href="{{ url_for('main.home') }}" title="{{ _("首页") }}">{{ _("首页") }}</a>
                </li>
                <li class="active">
{#                <li {% if url_for('main.home') is current_link %}class="active"{% endif %}>#}
                    <a href="{{ url_for('main.userpage') }}" title="{{ _("个人主页") }}">{{ _("个人主页") }}</a>
                </li>
                <li class="active">
{#                <li {% if url_for('main.home') is current_link %}class="active"{% endif %}>#}
                    <a href="{{ url_for('main.todolist') }}" title="{{ _("todolist") }}">{{ _("ToDoList") }}</a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
{#                is_authenticated 输入模板flask_login#}
                {% if current_user.is_authenticated() %}
                    <li><a href="#">{{ current_user.name }}</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">{{ _("退出") }}</a></li>
                {% else %}
                    <li><a href="{{ url_for('auth.login') }}">{{ _("登录") }}</a></li>
                    <li><a href="{{ url_for('auth.register') }}">{{ _("注册") }}</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>